*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 20px 0;
}

.calculator-frame{
    display:grid;
    margin: 0 auto;
    justify-content: center;
    border: 1px solid black;
    width: 390px;
    padding: 20px 10px;
    background-color: rgb(233, 237, 246);
}

.calculator-screen{
    margin:0 0 1px 0;
    border: 3px solid black;
    height:130px;
    width: 345px;
    background-color: rgb(126, 123, 123);
    color:white;
    text-align: right;
}

.input-text{
    font-size: 24px;
    padding-right: 10px;
}

.answer-text{
    font-size: 50px;
    text-align: end;
    margin-top: 30px;
    margin-right: 10px;
}
.btnNumber, .btnOperator, .btnEquals, .btnClear{
    margin: 1px -1px;
    height: 85px;
    width:85px;
    background-color: rgb(139, 166, 255);
    color: rgb(21, 21, 21);
    border: 1px solid rgb(6, 6, 6);
    font-size: 30px;
}

.btnNumber:hover, .btnOperator:hover, 
.btnEquals:hover, .btnClear:hover {
    background-color: #d9a31a;
  }


.btnNumber:active, .btnOperator:active,
.btnEquals:active, .btnClear:active {
    background-color:#d9a31a;
    box-shadow: 0 5px rgb(139, 139, 139);
    transform: translateY(1px);
  }

#btnClear, #btnEquals {
    width: 172px;
}

#btnMultiply{
    padding-top: 15px;
    font-size: 40px;
    vertical-align: -11px;
}


